@using MvcStok.Models.Entity
@model List<Tblurunler>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>Marka</th>
            <th>Fiyat</th>
            <th>Kategori</th>
            <th>Stok</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var prdct in Model)
        {
            <tr>
                <th>@prdct.URUNID</th>
                <td>@prdct.URUNAD</td>
                <td>@prdct.MARKA</td>
                <td>@prdct.FIYAT</td>
                <td>@(!string.IsNullOrWhiteSpace(prdct.UrunkategoriNavigation?.KATEGORIAD) ? prdct.UrunkategoriNavigation.KATEGORIAD : "Kategori yok")</td>
                <td>@prdct.STOK</td>
                <td>
                    <a href="/Urun/UrunSil/@prdct.URUNID" class="btn btn-danger btn-sm">Sil</a>
                </td>
                <td>
                    <a href="/Urun/UrunGuncelle/@prdct.URUNID" class="btn btn-primary btn-sm">Güncelle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<a href="/Urun/YeniUrun" class="btn btn-dark btn-sm">Yeni Ürün Girişi</a>

<br />
<br />