@model MvcStok.Models.Entity.Tblmusteriler

@{
    ViewData["Title"] = "YeniMusteri";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Müşteri Ekle</h1>

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Müşteri Ekleme</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("YeniMusteri", "Musteri", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    @Html.LabelFor(model => model.MUSTERIAD, new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.MUSTERIAD, new { @class = "form-control", placeholder = "Müşteri adı girin" })
                    @Html.ValidationMessageFor(model => model.MUSTERIAD, "", new { @class = "text-danger" })

                    @Html.LabelFor(model => model.MUSTERISOYAD, new { @class = "form-label mt-3" })
                    @Html.TextBoxFor(model => model.MUSTERISOYAD, new { @class = "form-control", placeholder = "Müşteri soyadı girin" })
                    @Html.ValidationMessageFor(model => model.MUSTERISOYAD, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-dark btn-sm">Kaydet</button>
            }
        </div>
    </div>
</div>
