@model MvcStok.Models.Entity.Tblkategoriler

@{
    ViewData["Title"] = "KategoriGuncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h1>Kategori Güncelle</h1>

<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Kategori Güncelle</h5>
        </div>
        <div class="card-body">
            @using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.KATEGORIID)

                <div class="mb-3">
                    @Html.LabelFor(model => model.KATEGORIAD, htmlAttributes: new { @class = "form-label" })
                    @Html.TextBoxFor(model => model.KATEGORIAD, new { @class = "form-control", placeholder = "Kategori adı girin" })
                    @Html.ValidationMessageFor(model => model.KATEGORIAD, "", new { @class = "text-danger" })
                </div>

                <button type="submit" class="btn btn-dark btn-sm">Kaydet</button>
            }
        </div>
    </div>
</div>